---
---
<div class="relative flex py-5 items-center">
    <span class="border-gray-300 flex-grow border-t"></span>
    <span class="font-bold text-slate-700 mx-4 flex-shrink">
    PROJECTS
    </span>
    <span class="border-gray-300 flex-grow border-t"></span>
</div>
