---
const { selectedText } = Astro.props;

const homeSelected = selectedText === "Home";
const resumeSelected = selectedText === "About"
---
<style>
  .tab {
    color: white;
    font-size: 15px;
    font-weight: 700;
    line-height: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-bottom: "none";
    text-decoration: none;
  }

  a {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    
    &.selected {
      border-bottom: "solid white";
      border-bottom-width: 3px;
    }
  }
</style>

<div class="tab">
    <a href="/" class:list={['a', { selected: homeSelected }]}>Home</a>
    <a href="/resume" class:list={['a', { selected: resumeSelected }]}>About</a>
</div>