---
import Header from '../components/Header.astro';

const { pageTitle, selectedText } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico?" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <div class="w-full bg-gradient-to-r from-neutral-800 to-neutral-900 px-1 py-3">
      <Header selectedText={selectedText} />
    </div>
    <slot />
    <script>
      import { logEvent } from 'firebase/analytics';
      import { getFirebaseAnalytics } from '../utils/firebase';
      
      const analytics = getFirebaseAnalytics();
      logEvent(analytics, 'page_view')
    </script>
  </body>
</html>